@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50 font-sans dark:bg-black dark:text-neutral-200;
  }
}

/* Smooth theme transitions */
@media (prefers-reduced-motion: no-preference) {

  *,
  ::before,
  ::after {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  /* Exclude transition when this class is present */
  .no-transition * {
    transition: none !important;
  }
}